    <main class="container">
      <aside>
        {{#if findProject}}
                <section class="project-view">
          <div class="project-view-header">
            <div class="project-view-img">
              <img src="{{url}}{{findProject.image}}" alt="" />
              <div class="links">
                  <a href="/users/project/like/{{findProject._id}}" class="la la-heart heart-btn"  onclick="heart()" name='{{checkLike}}'></a>
                <!-- <a href="" class="view-img-link">Demo</a>
                <a href="" class="view-img-link">Code</a> -->
              </div>
              <div class="view-total">
                <h4>Joylangan sana <span>10.11.2022 12:00</span></h4>
                <p>Ko'rildi <span>{{findProject.visits}}</span></p>
              </div>
            </div>
            <div class="project-view-author">
              <h3>Foydalanuvchi</h3>
              <div class="view-author-data">
                <div class="view-author-img">
                  <img src="https://picsum.photos/300" alt="" />
                </div>
                <div class="view-author-text">
                  <a href="" class="author-username">
                    {{findProject.author.first_name}}
                    {{findProject.author.last_name}}
                    </a>
                  <p>Saytda <span style="color:gold ;">20.11.2022 </span>Aktive</p>
                  <p>Loyihalar soni <span style="color:gold ;">{{lengthPro}}</span></p>
                </div>
              </div>
              <a href="/users/project/another/{{findProject._id}}" class="project-view-allpro"
                >Muallifning boshqa loyihalari</a
              >
            </div>
          </div>
        </section>
        <section class="project-desc">
          <h4>Joylangan sana <span style="color:  gold">10.11.2022 12:00</span></h4>
          <div class="project-desc-header">
            <h6>Node js</h6>
            <h3>Tavsif</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut amet tenetur error numquam aliquam consectetur, voluptatibus temporibus ex, saepe ipsa distinctio officia sunt voluptatum quas maxime eligendi placeat excepturi quidem.</p>
          </div>
          <div class="desc-link">
            <h3>Loyihani ko'rish</h3>
            <a href="">Sourse code <i class="lab la-github"></i></a>
            <a href="">Demo <i class="las la-desktop"></i></a>
            <a href="">Pdf <i class="lar la-file-pdf"></i></a>
            <a href="">Excel <i class="las la-file-csv"></i></a>
            <a href="">Video <i class="lar la-play-circle"></i></a>
          </div>
          <h3 class="comment-hash">Comments</h3>
          <div class="comment-box">
            <div class="desc-write-comment">
              <div class="writed-comments">
                <div class="comment-head">
                  <div class="comment-a">
                    <img src="https://picsum.photos/300" alt="">
                    <p class="comment-author">Z Yusupov</p>
                  </div>
                  <div class="comment-date">
                    20 November 2022
                  </div>
                </div>
                <div class="comment-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolorem quaerat, soluta reiciendis vel blanditiis dolorum inventore numquam alias voluptatum quos quisquam. Optio officiis hic corporis atque. Tenetur, beatae molestias?
                </div>
              </div>
              <div class="writed-comments">
                <div class="comment-head">
                  <div class="comment-a">
                    <img src="https://picsum.photos/300" alt="">
                    <p class="comment-author">Z Yusupov</p>
                  </div>
                  <div class="comment-date">
                    20 November 2022
                  </div>
                </div>
                <div class="comment-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolorem quaerat, soluta reiciendis vel blanditiis dolorum inventore numquam alias voluptatum quos quisquam. Optio officiis hic corporis atque. Tenetur, beatae molestias?
                </div>
              </div>
              <div class="writed-comments">
                <div class="comment-head">
                  <div class="comment-a">
                    <img src="https://picsum.photos/300" alt="">
                    <p class="comment-author">Z Yusupov</p>
                  </div>
                  <div class="comment-date">
                    20 November 2022
                  </div>
                </div>
                <div class="comment-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolorem quaerat, soluta reiciendis vel blanditiis dolorum inventore numquam alias voluptatum quos quisquam. Optio officiis hic corporis atque. Tenetur, beatae molestias?
                </div>
              </div>
              <div class="writed-comments">
                <div class="comment-head">
                  <div class="comment-a">
                    <img src="https://picsum.photos/300" alt="">
                    <p class="comment-author">Z Yusupov</p>
                  </div>
                  <div class="comment-date">
                    20 November 2022
                  </div>
                </div>
                <div class="comment-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolorem quaerat, soluta reiciendis vel blanditiis dolorum inventore numquam alias voluptatum quos quisquam. Optio officiis hic corporis atque. Tenetur, beatae molestias?
                </div>
              </div>
              <div class="writed-comments">
                <div class="comment-head">
                  <div class="comment-a">
                    <img src="https://picsum.photos/300" alt="">
                    <p class="comment-author">Z Yusupov</p>
                  </div>
                  <div class="comment-date">
                    20 November 2022
                  </div>
                </div>
                <div class="comment-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolorem quaerat, soluta reiciendis vel blanditiis dolorum inventore numquam alias voluptatum quos quisquam. Optio officiis hic corporis atque. Tenetur, beatae molestias?
                </div>
              </div>
            </div>
            <div class="write-comment">
              <form action="">
                <label for="comment" class="comment">Comment</label>
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 4
                  <input type="checkbox" name="" id="">
                </p>
                <input type="text" disabled value="zyusupov51@gmail.com">
                <!-- <input type="checkbox "> -->
                <input type="submit" value="submit" class="submit">
              </form>
            </div>
          </div>
        </section>
        {{else}}
        <h1>Mavjud emas</h1>
        {{/if}}
      </aside>
    </main>